@media (prefers-color-scheme: dark) {
  body {
       background-color: black;
       color: white;
  }
  a:link {
       color: LightGray;
  }
}

body {
  margin: 5px;
  padding: 10px 20px;
  font-family: sans-serif;
}

div.c3 {
  margin: 1px;
  padding: 5px 5px;
  text-align: center;
}

div.c4 {
  margin: 1px;
  padding: 5px 5px;
  text-align: center;
  font-style: italic;
}

span.c2 {
  font-size: 80%;
}

span.sc {
  font-variant: small-caps;
}

h1.c1 {
  font-size: 110%;
  font-style: italic;
  font-weight: normal;
}

h2.c1 {
  font-size: 100%;
  font-weight: normal;
}

h3.c1 {
  font-style: italic;
}

h4.c1 {
  font-weight: normal;
}

