# lynx.cfg - lynx configuration

# include the global lynx.cfg
INCLUDE:/etc/lynx/lynx.cfg

# override some ~/.lynxrc settings
# https://stackoverflow.com/questions/78235436/lynx-options-not-saving/78249995#78249995
# https://lynx.invisible-island.net/lynx_help/body.html#ENABLE_LYNXRC

ENABLE_LYNXRC:ACCEPT_ALL_COOKIES:OFF
ENABLE_LYNXRC:COOKIE_FILE:OFF
ENABLE_LYNXRC:FORCE_COOKIE_PROMPT:OFF
ENABLE_LYNXRC:KEYPAD_MODE:OFF
ENABLE_LYNXRC:SET_COOKIES:OFF
ENABLE_LYNXRC:SHOW_CURSOR:OFF
ENABLE_LYNXRC:UNDERLINE_LINKS:OFF
ENABLE_LYNXRC:USER_MODE:OFF

# set the default usermode to intermediate
# https://lynx.invisible-island.net/lynx_help/body.html#DEFAULT_USER_MODE

DEFAULT_USER_MODE:INTERMEDIATE

# disable cookies
# https://lists.gnu.org/archive/html/lynx-dev/2017-12/msg00026.html
# https://lynx.invisible-island.net/lynx_help/body.html#SET_COOKIES
# https://lynx.invisible-island.net/lynx_help/body.html#COOKIE_FILE
# https://lynx.invisible-island.net/lynx_help/body.html#COOKIE_SAVE_FILE
# https://lynx.invisible-island.net/lynx_help/body.html#MAX_COOKIES_BUFFER

SET_COOKIES:FALSE
COOKIE_FILE:/dev/null
COOKIE_SAVE_FILE:/dev/null
MAX_COOKIES_DOMAIN:0
MAX_COOKIES_GLOBAL:0
MAX_COOKIES_BUFFER:0
FORCE_COOKIE_PROMPT:NO

# appearance
# https://lynx.invisible-island.net/lynx_help/body.html#UNDERLINE_LINKS
# https://lynx.invisible-island.net/lynx_help/body.html#PRETTYSRC
# https://lynx.invisible-island.net/lynx_help/body.html#SHOW_CURSOR
# https://lynx.invisible-island.net/lynx_help/body.html#DEFAULT_KEYPAD_MODE

UNDERLINE_LINKS:TRUE
PRETTYSRC:TRUE
SHOW_CURSOR:TRUE
DEFAULT_KEYPAD_MODE:LINKS_AND_FIELDS_ARE_NUMBERED
